services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    ports:
      - "8787:8080"
    environment:
      - BASE_URL=http://localhost:8787/
      - INSTANCE_NAME=Linker-Search-Scout
      - SEARXNG_LIMITER=false
      - SEARXNG_PUBLIC_INSTANCE=false
      - SEARXNG_SEARCH_FORMATS=html,json
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
